<!DOCTYPE html>
<html>
<head></head>
<body>

	<h1>What is Farm to Table?</h1><br>
	We connect local farms with local restaurants. Easy accessibility to increase sales and consumption of locally produced goods in a way that makes economic and financial sense for both the buyer and the seller
	<br>



	<p>Copyright 2017</p>

	<!-- <%= image_tag("logos/tl-horizontal_main.jpg") %> -->
	<!--<%= image_tag("logos/mahima.jpeg") %>
	<%= image_tag("logos/mikeyd.jpeg") %>-->


</body>
</html>
