<!DOCTYPE html>
<html>
<head></head>
<body>

	<h1>What is Farm to Table?</h1><br>
	<p>First thing you need to know: ALL MEAT in the United States must go through either federal inspection by the United States Department of Agriculture or local state inspection. But currently, there’s not enough slaughtering and meat-packing plants that work with small-scale livestock farmers to meet the demand for more of their style of meat -- like grass-fed and locally raised cows, lambs, and pigs.</p><br>

	<p>For a chef trying to stay as local as possible, it means that even though the meat might come from a small farm nearby, it could end up traveling a very long way to be processed if the rancher does not have access to a facility. Chefs who are committed to providing their clientele with as local a product as possible must go the extra step and check to see where their rancher gets livestock slaughtered, and whether that facility meets the chef’s criteria for quality. That equals a ton of homework your standard restaurants never have to worry about.</p><br>

	<p>Unlike meat, the only type of fish under regular inspection by the federal government in the US is catfish. Because that's the case, a chef's natural inclination would be to want to cut out the middleman as much as possible and buy directly from the fisher. That way, you’re not getting farmed fish or fish caught in what many define as “poorly regulated” international waters. </p><br>

	<p>Great, now you're getting wild fish from your local waters, caught by a fisher in your area... but that means your menu will have to adapt to the catch of the day. You'll be dependent on your fisher to tell you what’s in season, and what the quotas are on a certain fish put in place to prevent overfishing. For example, in Texas, your daily limit of flounder from the Gulf is 30 fish daily, except in November when your daily limit is two. Yes, two fish. All this means is that even if you do have access to seafood that meets your criteria, there just might not be enough of it to put on a menu.</p><br>

	<br>



	<p>Copyright 2017</p>

	<!-- <%= image_tag("logos/tl-horizontal_main.jpg") %> -->
	<!--<%= image_tag("logos/mahima.jpeg") %>
	<%= image_tag("logos/mikeyd.jpeg") %>-->


</body>
</html>
