<div class="home_landing">
<div class="fruit_top"></div>
<div class="grape"></div>
<div class="grape1"></div>
<div class="grape2"></div>
<div class="grape3"></div>
<div class="cherry"></div>
<!--- buttons -->
  <div class="new-user-btns">
    <%= link_to 'Table', new_user_path(user_type: 'Table'), class: 'btn btn-success' %>
    <%= link_to 'Farm', new_user_path(user_type: 'Farm'), class: 'btn btn-info' %>
  </div>
  <div class=landing_title>
    <h4>
     <br>Welcome to ourtable!<br><br>
       Our mission is to connect the finest restaurants to local farmers while providing the freshest, in-season produce available. All you need to do is create an account and start clicking away.
    </h4>
    <p>
      Select a option below to get started
  </div>
  <div class="hero-img"></div>
</div>
