/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eaeff5 !important;
  height: 100vh;
}

.card {
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px rgba(50,50,50,0.2  );
}

nav {
  font-family: 'Raleway', sans-serif;
  background-color: #499452 !important;

  .navbar-brand {
    font-weight: 900;
    letter-spacing: -0.4px;
    font-size: 26px;
  }
}

.main {
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
}
