/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
/*  background-color: #eaeff5 !important;*/
  height: 100vh;
}

.home {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
}
// .btn {
//   margin-top: 100px;
// }

.new-user-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: 100px;
  margin-top: 400px;
  width: 800px;
  .btn {
    z-index: 100;
    opacity: 1 !important;
    padding: 40px 80px !important;
    font-size: 175%;
    font-weight: bold;
    position: absolute;
  }
  .btn-success {
    background-color: darken(#28a745, 20%) !important;
    border-color: darken(#28a745, 20%) !important;
    &:hover {
      background-color: darken(#28a745, 10%) !important;
    position: fixed;
    }
  }
  .btn-info {
    background-color: darken(rgb(23, 162, 184), 20%) !important;
    border-color: darken(rgb(23, 162, 184), 20%) !important;
    &:hover {
      background-color: darken(rgb(23, 162, 184), 10%) !important;
      position: fixed;
    }
  }
}

nav {
  font-family: 'Raleway', sans-serif;
  background-color: #499452 !important;

  .navbar-brand {
    font-weight: 900;
    letter-spacing: -0.4px;
    font-size: 26px;
  }
}

.main {
  font-family: 'Raleway', sans-serif;
  margin-top: 25px;
}


.table {
  .img {
    width: 40px;
    padding-right: 10px;
  }
}

.badge {
  font-family: sans-serif;
}
