.profile {
	background-color: white;
	background-image: asset-url("f2t3.jpeg");
	height: 100vh;
	position: fixed;
	width: 100vw;
	left: 0;
	background-repeat: no-repeat;
	background-size: cover;
  color: white;
}
