<head>
</head>

<body class="Add_Product">
	<div class="new_product_header"><h3>Add Product</h3></div>
	<div class="form"><%= render partial: 'form' %></div>
				<div class="pears_oranges"><%= image_tag("pears_oranges.png", :alt => "rss feed") %></div>
</body>
